<!-- Header -->
<header>
	<!-- Header desktop -->
	<div class="container-menu-desktop">
		<div class="topbar">
			<div class="content-topbar container h-100">
				<div class="left-topbar">
					<span class="left-topbar-item flex-wr-s-c">
						<span>
							Ho Chi Minh, HCM
						</span>

						<img class="m-b-1 m-rl-8" src="images/icons/icon-night.png" alt="IMG">

						<span>
							TEMP {{temp}}°
						</span>
					</span>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')" class="left-topbar-item">
						About
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')" class="left-topbar-item">
						Contact
					</a>

					{{!-- <a href="#" onclick="alert('Tính năng đang hoàn thiện')" class="left-topbar-item">
						Sing up
					</a> --}}

					{{#if user}}
					<a href="/login/account" class="left-topbar-item">
						Chào {{user.displayName}}
					</a>
					<a href="/login/logout" class="left-topbar-item">
						Log out
					</a>
					{{else}}
					<a id="login-button" href="/login/auth/facebook" class="left-topbar-item">
						{{!-- <a id="login-button" class="left-topbar-item"> --}}
						Log in
					</a>
					{{/if}}
				</div>

				<div class="right-topbar">
					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-facebook-f"></span>
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-twitter"></span>
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-pinterest-p"></span>
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-vimeo-v"></span>
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-youtube"></span>
					</a>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li class="left-topbar">
					<span class="left-topbar-item flex-wr-s-c">
						<span>
							Ho Chi Minh, HCM
						</span>

						<img class="m-b-1 m-rl-8" src="images/icons/icon-night.png" alt="IMG">

						<span>
							TEMP {{temp}}°
						</span>
					</span>
				</li>

				<li class="left-topbar">
					<a href="#" onclick="alert('Tính năng đang hoàn thiện')" class="left-topbar-item">
						About
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')" class="left-topbar-item">
						Contact
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')" class="left-topbar-item">
						Sing up
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')" class="left-topbar-item">
						Log in
					</a>
				</li>

				<li class="right-topbar">
					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-facebook-f"></span>
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-twitter"></span>
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-pinterest-p"></span>
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-vimeo-v"></span>
					</a>

					<a href="#" onclick="alert('Tính năng đang hoàn thiện')">
						<span class="fab fa-youtube"></span>
					</a>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="/entertainment">Giải trí</a>
				</li>

				<li>
					<a href="/business">Kinh tế</a>
				</li>

				<li>
					<a href="/social">Xã hội</a>
				</li>

				<li>
					<a href="/life-style">Đời sống</a>
				</li>

				<li>
					<a href="/sport">Thể thao</a>
				</li>

				<li>
					<a href="/world">Thế giới</a>
				</li>

				<li>
					<a href="/army">Quân sự</a>
				</li>

				<li>
					<a href="/law">Pháp luật</a>
				</li>

				<li>
					<a href="/health">Sức khỏe</a>
				</li>
			</ul>
		</div>

		<!--  -->
		<div class="wrap-logo container">
			<!-- Logo desktop -->
			<div class="logo">
				<a href="/"><img src="images/icons/logo-01.png" alt="LOGO"></a>
			</div>

			<!-- Banner -->
			<div class="banner-header">
				<a href="#" onclick="alert('Tính năng đang hoàn thiện')"><img src="images/banner-01.jpg" alt="IMG"></a>
			</div>
		</div>

		<!--  -->
		<div class="wrap-main-nav">
			<div class="main-nav">
				<!-- Menu desktop -->
				<nav class="menu-desktop">
					<a class="logo-stick" href="/">
						<img src="images/icons/logo-01.png" alt="LOGO">
					</a>

					<ul class="main-menu">

						<li class="mega-menu-item">
							<a href="/entertainment">Giải trí </a>
						</li>

						<li class="mega-menu-item">
							<a href="/business">Kinh tế</a>
						</li>

						<li class="mega-menu-item">
							<a href="/social">Xã hội</a>
						</li>

						<li class="mega-menu-item">
							<a href="/life-style">Đời sống</a>
						</li>

						<li class="mega-menu-item">
							<a href="/sport">Thể thao</a>
						</li>

						<li class="mega-menu-item">
							<a href="/world">Thế giới</a>
						</li>

						<li class="mega-menu-item">
							<a href="/army">Quân sự</a>
						</li>

						<li class="mega-menu-item">
							<a href="/law">Pháp luật</a>
						</li>

						<li class="mega-menu-item">
							<a href="/health">Sức khỏe</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>