<!-- Tag -->
<div>
    <div class="how2 how2-cl4 flex-s-c m-b-30">
        <h3 class="f1-m-2 cl3 tab01-title">
            Tags
        </h3>
    </div>

    <div class="flex-wr-s-s m-rl--5">
        <a href="/entertainment"
            class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
            Giải trí
        </a>

        <a href="/business"
            class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
            Kinh tế
        </a>

        <a href="/social"
            class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
            Xã hội
        </a>

        <a href="life-style"
            class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
            Đời sống
        </a>

        <a href="/sport"
            class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
            Thể thao
        </a>

        <a href="/world"
            class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
            Thế giới
        </a>

        <a href="/army"
            class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
            Quân sự
        </a>

        <a href="/law" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
            Pháp luật
        </a>

        <a href="/health"
            class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
            Sức khỏe
        </a>
    </div>
</div>